<section class="container" [id]="deleteSpace(dataProjects?.title)">
    <h2 class="title">{{dataProjects?.title}}</h2>

    <div class="content">
        @for (item of dataProjects?.items; track $index) {
            
            <article class="content-item">

                <h4>{{item.date}}</h4>

                <div class="content-line-dot">
                    <div class="line" [ngStyle]="lineAndDotStyle"></div>
                    <div class="dot" [ngStyle]="lineAndDotStyle"></div>
                </div>
                <div class="content-info">

                    <div class="info">
                        <h2 class="position">{{item.position}}</h2>
        
                        <p class="name-location">
                            <span>{{item.name}}</span>
                            -
                            <span>{{item.location}}</span>
                        </p>
        
                        <ul>
                        @for (activiti of item.activities; track $index) {
                            <li>{{activiti}}</li>
                        }
                        </ul>
                    </div>
                </div>

            </article>

        }

    </div>

</section>